/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    /* Estilos Home */
    #bg-home{
        background-image: url(../images/Home-Escritorio.jpg);
    }
 }
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }
/* Extra large devices (large desktops, 1366px and up)*/
@media (min-width: 1366px) {  }